.controls.download, .controls.snapshot, .controls.comments, .controls.fullscreen
{
	display: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td 
{
	padding: 4px;
}

.thumb
{
	height: 36px;
	width: 64px;
}

body, div#notification, .alert-info, .dragging-thumb, .odd, .even 
{
	font-size: 1.0em;
}

.qtoolbar-fixed
{
	padding: 5px;
}

.controls.back
{
	display: inline-block;
}

.qtransfers > .qcontrols {

	height: 45px;
}

.logo
{
	height:50px;
	position:relative;
	top: -8px;
	left: 1px;
}