#base.desktop input, #base.desktop .login-content #base.desktop .form-control, #base.desktop .form-controlbody {
	
	font-size: 12px;
}

#base.desktop th {

	font-size: 11px;
	letter-spacing: 1px;
}

#base.desktop .qtitle, #base.desktop .qtitle:hover {

	font-size: 12px;
}

#base.desktop input.search-input.glyphicons-search {

    height: 26px;
  	top: 1px;
}

#base.desktop .newicon {

	font-size: 2em;
}

#base.desktop .popover-content button {

	font-size: 12px;
}

#base.desktop .icon-menu-right, #base.desktop .icon-menu-down {

	font-size: 12px;
}

#base.desktop .table>tbody>tr>td {
  
    padding: 1px 8px 1px 8px;
}

#base.desktop input, #base.desktop .login-content .form-control, #base.desktop .form-control {

	font-size: 1.2em;
}

#base.desktop .qbin:not(.full) > .qcontrols
{
	display: none;
}