/* 
Style sheet created for QTube Browser
By James Wilson
*/



select {

  border: 1px solid rgb(220,220,220);
  background: rgb(255,255,255);
  width: 150px;
  padding-left: 10px;
  height: 34px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(50,50,50);
  font-size: 1.14em;
  text-transform: capitalize;
  background: url("../img/arrow-down.png") 99% / 3% no-repeat #fff;
}

/* adding quantel logo on login screen */

.logo-video {

  display: none;
}

/* styling for bootstrap tooltips */

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
}

.tooltip-inner {
  color: #000;
  background: #fff;
  border: solid 1px #fff;
  text-shadow: none;
  font-size: 1.1em;
}

#login-content {
  
  background-image: url("../img/logo_quantel_red_large.png");
  background-size: 110px;
  background-repeat: no-repeat;
  padding-top: 45px;
  background-color: rgb(250,250,250);
  background-position: 50% 20px;
  border-radius: 5px 5px 0px 0px;
}

/* big login button */

button#loginButton {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: none;
  height: 50px;
  border-radius: 2px;
  font-size: 1.5em;
}

/* login button fix for padding */

#login .modal-footer {

	padding: 5px !important;
	border-radius: 0px 0px 5px 5px;
	background: rgb(250,250,250);
	height: 70px;
}

/* login button hover */

#login .btn-primary:hover, .qtitle:hover, .modal-footer .btn-default:hover, .modal-footer .btn-primary:hover {
  
  box-shadow: inset -200px -200px 100px rgba(255, 255, 255, 0.1);
}

/* mobile view side bar name */

li.pull-right.visible-xs {
  
  background: rgb(30,30,30);
  height: 40px;
  margin-left: 0px;
  border: none;
}

/* mobile view side bar close icon */

.close.normal-font {
  
  font-size: 1em;
  opacity: 1;
  text-shadow: none;
  line-height: 1.4;
}

.pull-right .nav>li, .pull-right .brand {

	border: none;
}

/* Sidebar lables */

.pull-right label {
 
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none !important;
}

body {

	color: rgb(165, 165, 165);
	font-family: 'latoregular', helvetica, serif;
	font-size: 1.2em;
}

body {

	background: rgb(56,57,60);
	/*background: url("../textures/dark_wash_wall.png");*/
}

#login {

	/*background: url("../textures/dark_wash_wall.png");*/
	background: rgb(42,43,46);
}

/* qcontainer */

.qcontainer {
  
  border: 1px solid rgb(31, 33, 36);
  border-radius: 5px;
  padding: 0px;
  background: rgb(43, 45, 48);
}

/* model dialog box shadow */

.modal-dialog {
 
 	box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
}

.popover {

	background: rgb(28, 30, 33) !important;
	box-shadow: 0 0px 1px rgba(0,0,0,0.5);
	border: none;
}

/* colour for arrow in pop up menu */

.popover.left>.arrow:after {

	border-left-color: rgb(28, 30, 33);
}

.popover.top>.arrow {

  border-top-color: transparent !important;
  border-top-color: transparent !important;

}

/* light font-family */

.control-label, .btn-primary, .btn-default, .modal-title, #login-content .checkbox label, #loginButton, button#loginButton {

	font-family: 'latolight';
}

/* regular font-family */

.nav>li, .dropdown-menu>li>a:hover, .popover-title, .dataTables_info, .addmark, .time, .qplayer-overlay-item p, #confirm_text, .nav .open>a:hover, .nav .open>a, .popover-content, .popover-content button:hover, .popover-content button {
	
	font-family: 'latoregular';
}

/* semi bold font-family */

{
	
	font-family: 'latoheavy';
}

/* bold font-family */

td.dataTables_empty, .nav .open>a:focus, span.bold, .close {

	font-family: 'latobold';
}

/* captilize text */

.select {

	text-transform: uppercase !important;
}

/* icon color */

.newicon {
	
	color: rgb(145, 145, 145);
	padding: 3px;
}

/* panel icons */

.panel-icon:hover {

  color: rgb(75, 119, 190) !important;
}

.panel-icon {
  
  font-size: 2em !important;
  color: rgb(76, 78, 81);
  padding: 4px;
}

/* player button size */

.player-controls-play .qicon, .playerbar-right-btns .qicon {
  
  background: rgb(46, 48, 51);
  height: 38px;
  width: 56px;
  padding: 9px;
  border-radius: 1px;
}

/* player icon size */

.player-controls-play .newicon {

  font-size: 1.4em !important;
  padding-top: 2px;
  color: rgb(115, 115, 115);
}

.player-controls {
  
  height: 42px;
}

/* qcontrols right playbar icon size */

.playerbar-right-btns .newicon {

  font-size: 1.6em !important;
  color: rgb(115, 115, 115);
  padding-top: 0px;
}

.playerbar-right-btns {
  
  padding: 3px 2px 0px 10px;
}

.modal-footer .btn-default, .modal-footer .btn-primary {
  
  min-width: 100px;
}

/* button size and padding */

.qicon {
	
	background: rgba(57, 57, 57, 0);
	border: none;
}

/* white text colour */

.qplayer-overlay-item p {
	
	color: rgb(255, 255, 255);
}

/* volume slider */

.volume-slider-handle {
	
	display: inline-block;
	width: 20px;
	height: 20px;
	z-index: 1100;
	border-radius: 20px;
	margin-top: 0px;
}

/* volume slider centre */

.volume-slider {
	
  	height: 120px;
 	width: 20px;
  	border-radius: 10px;
  	padding-bottom: 10px;
 	padding-top: 10px;
}

/* arrow for volume slider */

.popover.top>.arrow:after {
	
	border-top-color: rgb(31, 33, 36);
}

/* border-radius for audio slider */

.qcontrols .popover {
	
	border-radius: 20px !important;
}

/* disabled icon color */

button:disabled>span, button:disabled>span:hover, .qicon:disabled:hover {

	color: rgb(90, 90, 90);
	box-shadow: none;
}

/* font color for lighter backgrounds */

.alert-info, .danger-info, .alert-danger, .alert-warning, .popover-content button {

	color: rgb(200, 200, 200);
	text-shadow: none;
}

/* front for white bg */

#confirm_text, .control-label, span.bold {

	text-shadow: none;
	color: rgb(100,100,100);
}

/* remember me */

label {

	text-shadow: none;
	text-transform: capitalize;
}

/* normal font */

.addmark, .metadata-box .control-label {

	color: rgb(165, 165, 165);
}

/* normal font */

.metadata-box .control-label {

	padding-top: 0px !important;
	margin-bottom:0px;
	white-space:nowrap;
}

/* normal state for button text */

a, .dropdown-menu>li>a {

	color: rgb(200, 200, 200);
	text-shadow: 0.5px 0.5px 0px rgba(10, 10, 10, 1);
}

/* navbar clips postbar */

.metadata-box .modal-body {
	
	background: rgb(43, 45, 48);
}

/* navbar clips postbar */

.odd {
	
	background: rgb(46, 48, 51);
}

.even {
	
	background: rgb(40, 42, 45);
}

.timeline, .volume-slider {
	
	background: rgb(46, 48, 51);
}

/* navbar */

.nav>li, .qnavbar, .brand, .dropdown-menu, .nav .open>a, .dragging-thumb, .nav>li>a:hover, .nav .open>a:hover {
	
	background: rgb(36, 38, 41);
}

/* qcontrols*/

.qcontrols, .metadata-box .modal-footer {
	
	background: rgb(36, 38, 41);
	border-radius: 0px 0px 2px 2px;
}

/* main dark gray gradient */

.qtoolbar {

	background: rgb(46, 48, 51);
	padding-right: 3px;
}

/* model header */

.modal-footer, .btn-default, .btn-primary {

	background: rgb(250,250,250);
}

/* button hover */

.btn-default:hover, .btn-primary:hover {

	box-shadow: inset -200px -200px 100px rgba(255, 255, 255, 0.1);
}

/* green background colour */

.modal-footer .btn-primary, .alert-info {

	background: #87D37C;
}

/* green font colour for icons */

.glyphicon-ok, .icon-ok, .icon-add {
	
	color: #87D37C;
	text-shadow: none !important;
}

/* green alert info message overall style */

.alert-info, .dragging-thumb {

	color: black;
  	border-radius: 2px;
  	border: none;
  	background: #87D37C !important;
}

.alert-info, .danger-info, .alert-danger {

	text-align: center;
} 

/* red alert info message overall style */

.danger-info, .alert-danger, .alert-warning, .modal-footer .btn-default {

	background: rgb(242, 126, 126) !important;
	color: black;
  	border-radius: 2px;
  	border: none;
}

/* font size for notifications */

.danger-info, .alert-danger, .alert-warning, .alert-info {

	font-size: 1.4em;
}

/* blue background */

.selected, .dropdown-menu>li>a:hover, button#loginButton, .modal-header, .navbar-nav .open .dropdown-menu>li>a:hover, .volume-slider-handle, .popover-content button:hover, .menu-accept, .dropdown-menu>li>a.hover {

	background: #4B77BE;
  	color: rgb(245, 245, 245) !important;
  	text-shadow: none;
}

.odd:hover, .even:hover {

	color: rgb(200,200,200); 
}

/* purple colour */

.newicon:hover, .icon-close:hover, .icon-delete-bin:hover, .btn.btn-primary:hover, .nav>li>a:hover, .nav .open>a, .toggle-on, li.active>a>button, .newicon.active, .nav>li>a:hover>span  {

	color: #599ADA;
}

/* purple background */

.qtitle {

	background: #383A3D;
}

/* login buttons */

button#loginButton {

    color: rgb(255, 255, 255) !important;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.7em;
    border-radius: 5px;
}

/* main toolbar */

.qtoolbar {

	height: 45px;
}

/* playbar gradients */

.inoutbar {
	
	text-shadow: 0.5px 0.5px 0px rgba(250, 250, 250, 0.4);
	background: rgb(76, 78, 81) !important;
}

/* input text area highlight colours */

input:focus, select:focus, textarea:focus, .btn:focus, .btn:active:focus, .btn.active:focus {

    outline: 0px solid black;
}

/* removing highlight for buttons when selected */

button:focus {

	outline: none;
}

/* simple rgb 50 50 50 background colour */

.qtoolbar.sorting_disabled, .dataTable {

	background-color: rgb(36, 38, 41);
}

/* borders for elements */

.nav>li, .btn-primary, .btn-primary:hover, .dropdown-menu, .modal-content, .btn-default, .popover, .brand, .btn-default:hover {

	border-bottom: none;
}

/* border-radius for navbar child menu options */

.dropdown-menu>li>a {

	border-radius: 2px;
	padding: 3px 10px;
}

/* dropdown menu */

.dropdown-menu {

	border: none;
	box-shadow: none;
	border-radius: 2px;
}

/* fade color background behinde models */

.fade.in {

	background-color: rgba(30,30,30,0.8);
}

/* drag items between windows */

@-webkit-keyframes testAnim {
	0% {
		-webkit-filter: grayscale(0) brightness(2.5) opacity(0.5) blur(0px);
	}
	100% {
		-webkit-filter: grayscale(0) brightness(1) opacity(1) blur(0px);
	}
}

.item-accept {

	border: none;
	-webkit-animation-name: testAnim;
	 -webkit-animation-duration: 0.7s;
	 -webkit-animation-iteration-count: 1;
	 -webkit-animation-direction: alternate;
	 -webkit-animation-timing-function: ease-out;
	 -webkit-animation-fill-mode: forwards;
	 -webkit-animation-delay: 0s;
}

/* animations fade in */
	
	@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* changing brand size and box-shadow */

.brand {
	
	margin-right: -15px;
}

/* login model content background */

.modal-content, .modal-body {

	background-color: rgba(250,250,250,1);
}

/* login model content background */

.editable-container .popover-content, .popover-title {

	background-color: rgba(250,250,250,1) !important;
	color: rgb(100,100,100);
}

.editable-container.popover.top>.arrow:after {
  
  border-top-color: rgba(250,250,250,1) !important;
  bottom: 2px;
}

/* no background for edit metadata */

.editable-container.fade.in, .editable-container.editable-submit, .editable-cancel.popover {

  background-color: transparent !important;
}

.editable-submit:hover, .editable-cancel:hover {
  
  background: rgb(230,230,230) !important;
}

/* background shadow for the image thumbnails */

.thumb {
	
	min-width: 50px;
	width: 80px;
	height: 45px;
	border-radius: 2px;
}

/* background shadow for the image thumbnails */

.fullthumb {
	
	border-radius: 5px;
	padding-bottom: 15px;
}

/* desaturate images

.thumb:hover, .fullthumb:hover {

	-webkit-filter: grayscale(1);
} */

/* No text shadow effects */

input.search-input.glyphicons-search {
	
	text-shadow: none !important;
	position: relative;
	top: 2px;
	right: 3px;

}

/* opacity hover effect */

{

	opacity: 0.5;
}

/* placeholder-text */

::-webkit-input-placeholder {
	
	color: rgb(170, 170, 170) !important;
	font-size: 1.2em;
	font-family: 'latolight'
}

:-moz-placeholder { /* Firefox 18- */

    color: rgb(170, 170, 170) !important;
   	font-family: 'latolight'
}

::-moz-placeholder {  /* Firefox 19+ */

   color: rgb(170, 170, 170) !important;
   font-family: 'latolight'
}

:-ms-input-placeholder { 

   color: rgb(170, 170, 170) !important;
   font-family: 'latolight'
}

/* columns arrow */

table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc {

  background-position: 95%;
}

/* metadata value form style */

.form-control {
	
	font-size: 1.2em;
	border-radius: 0px;
	box-shadow: none !important;
	text-shadow: none;
}

/* confirm text styled from model boxes */

#confirm_text {

	font-size: 1.4em;
}

/* login screen input boxes */

.form-control {

  height: 44px;
  border: 1px solid rgb(220,220,220);

}

/* transparent backgrounds */

.commentsbox {

	background: rgba(50, 50, 50, 0.8);
}

/* Ok button style */

.btn-primary, .btn-default {
	
	border-radius: 2px;
}

/* Navbar size spacing and font */

.nav>li, .brand {

	text-align: center;
	border-radius: 0px;
	font-size: 1.2em;
}

/* Navbar hover border-radius */

.nav>li>a:hover, .nav .open>a {
	
	border-radius: 0px;
}

/* dropdown menu spacing and font size correction  */

.dropdown-menu li {
	
	margin: 0px 5px 0px 5px;
	text-transform: capitalize;
	font-size: 14px;
}

/* Table padding and white lines */

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	
   vertical-align: middle;
   border-right: 0px solid rgb(32, 32, 32);
   border-bottom: 1px solid rgb(36, 38, 41);
   border-top: 1px solid rgb(43, 45, 48);
}

/* Remove 20px padding at the bottom of the tables */

.table {

	margin-bottom: 0px;
}

/* toolbar left buttons */

.options-left {

	margin: 5px;
}

/* Navigation Changes */
/* Navigation Changes */

/* 1 of 20 text positioning */

.dataTables_info {
	
	display: inline-block;
	position: relative;
	top: 2px;
	left: 8px;
	letter-spacing: 1px;
}

/* page navigation buttons */

.pagination {
	
	display: inline-block;
	border-radius: 0px;
	padding-top: 7px;
	padding-bottom: 4px;
	height: 47px;
	margin: 0px;
}

/* Navigation Changes */
/* Navigation Changes */

/* Move arrow over clights on navbar only */

.qnavbar .caret, .caret-right {

	margin-left: 10px;

}

/* width control for buttons in pop up menu */

.popover-content button {
	
	min-width: 130px;
	text-align: left;
	background: transparent;
	border: none;
	font-size: 13px;
	border-radius: 1px;
}

/* padding for pop up menu items */

.popover {
	
   border-radius: 2px;
}


/* no data available in table, Bins message */

td.dataTables_empty {
	
   text-align: center;
   position: relative;
   border-radius: 0px 0px 5px 5px;
   text-transform: uppercase;
   height: 100px;
   font-size: 3em;
   color: rgb(56, 58, 61);
   text-shadow: none;
   letter-spacing: 5px;
}

/* Change model border effect */

.modal-footer {

	border: none;
	height: 50px;
	padding-right: 15px;
}

.control-label {

	font-size: 1.1em;
	padding-top: 5px;
}

/* remove border added by bootstrap */

.btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	
	border: none;
}

/* input for the search boxes - this was styled for navbar search */

input.search-input.glyphicons-search, input, .login-content .form-control {
	
  background: rgb(255, 255, 255) !important;
  border-radius: 2px !important;
  padding-left: 10px;
  height: 28px;
  font-size: 1.1em;
  color: rgb(50,50,50) !important;
  border: 1px solid rgb(220,220,220);
}

/* model title */

.modal-title {
	
	text-align: center;
}

/* close icon on model pop ups */

.close {
	
	font-size: 3.5em;
  	text-shadow: none;
  	opacity: 1;
}

/* button default active focus */

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	
	color: rgb(245,245,245);
	background-color: rgba(255,255,255,0.1);
}

/* error message for login screen */

.errorMsg {
  
  color: rgb(210, 27, 27);
  width: 320px;
  padding-left: 55px;
  text-shadow: none;
  padding-top: 10px;
  font-size: 1.1em;
}

/* window naming overall style */

.qtitle, .qtitle:hover {
	
  border-top: none;
  color: rgb(185, 185, 185);
  margin-right: 0px;
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0px;
  min-width: 100px;
  font-size: 1.2em;
  border-radius: 0px 0px 3px 3px;
}

/* Font for column headings */

th {
  
  text-shadow: none;
  color: rgb(185, 185, 185);
  background-color: rgb(56, 58, 61);
  border-left: 1px solid rgb(40, 42, 45) !important;
  text-transform: uppercase;
}

th:hover {

  background-color: rgb(66, 68, 71);
}

.qcenter.qtitle.off {
  
  background: rgb(56, 58, 61);
}

/* dragging thumbnail styling */

.dragging-thumb {

	border: 1px solid rgb(30,30,30);
	width: 150px;
	border-radius: 5px !important;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
	padding: 5px;
}

.glyphicon {

	background-color: transparent !important;
}

/* Timeline playbar */

.timeline {
	
	height: 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* In out Bar styling */

.inoutbar {
	
	opacity: 1;
	border-radius: 25px;
}

/* Playhead */

.posbar {
	
	width: 15px;
	border-radius: 16px;
	border: 1px solid rgb(48, 48, 48);
	background-color: rgba(89, 154, 218, 1);
}

.qplayer-overlay-item {
	
	position: absolute;
	width: 32%;
	height: 50%;
	background-color: rgb(0,0,0);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 10px;
}

/* jog shuttle */

.qplayer-overlay-circle-inner {
	
	width: 100%;
	height: 200%;
	border: 2px solid rgb(0,0,0);
	border-radius: 50%;
	margin-top: 7em;
	background-color: rgb(0,0,0);
}

/* hotspot player text */

.qplayer-overlay-item p {

	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 4px;
}

/* hotspot icons sizes */

.hotspot-icon {

	font-size: 4em !important;
	margin-bottom: 20px;
}

/* timecode display in player window */

.time {
	
	position: absolute;
	font-size: 2em;
	background: rgba(0, 0, 0, 0.1);
	padding: 0px 10px 0px 10px;
	border-radius: 20px 0px 0px 0px;
}

/* timecode display in player window */

.popover-title {
	
	padding: 10px 5px 0px 5px;
	margin: 0;
	line-height: 18px;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 3px;
} 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(63,65,68,0.8); 
    -webkit-box-shadow: none; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(63,65,68,0.4); 
}












/* add css for michael */

#login-content {
	
	position: absolute;
	top: 40%;
}

.icon-menu-down, .icon-menu-right {
  
  font-size: 10px;
  float: right;
  padding-top: 5px;
}

/* move player add bin icon left by 3px */

.player-controls button.qicon.controls.add {
	
	margin-left: 3px;
}

/* navbar padding */

.navbar-fixed {
	
	padding: 8px 4px 0px 3px;
	border-radius: 2px 0px 0px 0px;
}

/* move saerch button over by 3px */

button.qicon.searchbtn {
	
	margin-right: 3px;
}

/* padding to try and get the buttons in the middle and not at the bottom */

.modal-footer.qcontrolsp {
	
	margin-top: 0;
	margin-bottom: 0px;
}

/* added some padding to the right of the metadata columns (not now going off right edge of screen) */

.qmetadatacol {
	
	padding-right: 8px;
}

/* getting metadata properties to align with values */

.metadata label.col-sm-3.control-label {

	padding-top: 14px;
  	font-size: 1.2em;
}

/* put padding below input fields so that they are not close together */

input, select {
	
	margin-bottom: 5px;
}

/* don't need brand large for the login screen - we can remove this */

.brand-large {
	
	width: 0px;
	margin-right: 0px;
	height: 0px;
	box-shadow: none !important;
}

/* padding on right of mobile navbar menu button */

.qnavbar .pull-right {

  margin-left: 3px;
}

/* red font colour for icons */

.glyphicon-remove, .icon-delete-bin, .icon-window-delete, .icon-bin-delete:hover, button.delete, .close, .close:hover, .close:focus, .close.normal-font, .icon-bin-delete, .icon-delete, .icon-delete:hover {
	
	color: rgb(242, 126, 126);
	text-shadow: none !important;
}

.qbin > .qcontrols {

	height: 45px;
}

@media screen and (max-width: 767px) 
{	
	.hotspot-icon {
		font-size: 2em !important;
		margin-bottom: 2px !important;
	}
}

.qnavbar .icon-menu-down, .icon-menu-right, .caret, .caret-right {
  
  display: block !important;
  float: right;
  margin-left: 7px;
}

/* play controls padding fix */

.qcenter.qtoolbar-fixed.player-controls-play {

  padding: 3px 0px 0px 0px;
}

.modal-header .close {
  
  line-height: 0.7;
}

.modal-header {
  
  border-bottom: none;
}

.close:hover, .close:focus {

  opacity: .9;
}

/* no border on editable metadata fields */

.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border-bottom: none;
}

/* edit metadata */

.editable-submit, .editable-cancel {
  
  min-width: 50px !important;
  background: white !important;
  height: 44px;
  border-radius: 2px !important;
  text-align: center !important;
  font-size: 2em !important;
  border: 1px solid rgb(220,220,220) !important;
}

#rememberme {

  margin-top: 4px;
}

#login-content .checkbox label {
  
  font-size: 1.3em;
  font-weight: 200;
}

button:disabled {

	color: #666666;
}

.nav, .qcenter, .odd, .even {
	
	cursor:pointer;
}



.panel-icon:hover {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.panel-icon:hover, .panel-icon:focus, .panel-icon:active {

  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





.thumb:hover, .icon-add {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.thumb:hover, .icon-add:hover, .thumb:focus, .icon-add:focus, .thumb:active, .icon-add:active {

  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}







/* Underline From Left */
.dropdown-toggle, .qcontainer-right .menu{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.dropdown-toggle:before, .menu:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(89, 154, 218, 1);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.dropdown-toggle:hover:before, .dropdown-toggle:focus:before, .dropdown-toggle:active:before, .qcontainer-right .menu:hover:before, .qcontainer-right .menu:focus:before, .qcontainer-right .menu:active:before {
  right: 0;
}







/* Fade */
.qtitle {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.qtitle:hover, .qtitle:focus, .qtitle:active {
  background-color: #4B77BE !important;
  color: rgb(40, 40, 40);
}